/* universall style */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;

}

/* root color container stores color as variable*/
:root {
    /* --base-color: #9e4a4a;
  --base-variant: #74a464;
  --text-color: #000;
  --secondary-text: rgb(192, 234, 255); */
    --base-color: #d5d5d5;
    --base-variant: #f5f5f5;
    --text-color: #333333a0;
    --secondary-text: rgb(143, 216, 253);
    ;
}

/* secondary color container for dark mode*/
.darkmode {
    --base-color: #1e1e1e;
    --base-variant: #2a2a2a;
    --text-color: #fff;
    --secondary-text: rgb(192, 234, 255);
    /* --primary-color: #3a435d;
  --accent-color: #0071ff; */
}

/* cursive title font */
.cursive {
    /* font-family: "Caveat", cursive; */
    font-family: "Satisfy", cursive;
    /* margin: 2px; */
    font-size: 54px;
    font-weight: 900;

}

html,
body {
    background-color: var(--base-variant);
    color: var(--text-color);
    box-sizing: border-box;
    /* overflow: visible; */
    /* margin: 0;
    padding: 0;
    height: 100vh; */
}

/* dosen't display scrollbar */
body::-webkit-scrollbar {
    display: none;
}

/* header style */
header {
    width: 100%;
    background-color: var(--base-color);
    color: var(--text-color);
    padding: 10px 0;
    text-align: center;
    /* border-bottom: 2px solid rgb(192, 234, 255); */
    /* box-shadow: 0px 2px 15px rgb(192, 234, 255); */
    position: sticky;
    z-index: 1000;
    /* top: 0; */
    left: 0;
    transition: top 0.4s;
}

/* title shadow */
h1 {
    text-shadow: 1px 1px 40px var(--text-color);
}

/* used to divide back,nav,day/light button */
.grid {
    display: grid;
    grid-template-columns: 15vw 70vw 15vw;
    justify-items: center;
    align-items: center;
}

/* nav button style */
nav {
    margin: 25px auto;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
}

a {
    color: var(--text-color);
}

a:hover {
    color: var(--secondary-text);

}

/* title blue glow effect */
.lblue {
    color: var(--secondary-text);
    text-shadow: 1px 1px 40px var(--secondary-text);
}

.blue {
    color: var(--secondary-text);
    /* text-shadow: 1px 1px 30px rgb(132, 214, 255); */

}

/* 
.glow {
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.5);

} */


/* main tag style */
main {
    /* background-color: #1e1e1e; */
    min-height: 80vh;
    /* display: flex; */
    justify-content: center;
    background-color: var(--base-variant);
    /* Slightly lighter than header */

}

/* site info style */
.web-detail {
    font-size: 20px;
    margin: 18px;
}

.line1 {
    display: block;
    padding: 35px;
    text-align: center;
    font-size: 2em;
    letter-spacing: 1px;
}

/* stream button style (index.html) */
.stream-button {
    height: 18vh;
    width: 55vmin;
    display: inline-block;
    margin: 35px;
    padding: 35px;
    border: 0px solid var(--secondary-text);
    border-radius: 38px;
    box-shadow: 0px 0px 35px var(--secondary-text);
    justify-content: center;
    text-align: center;
    cursor: pointer;
    background: var(--base-variant);
    color: var(--text-color);
    font-size: 1.5em;
}


.stream-button:hover {
    border-radius: 38px;
    background: var(--secondary-text);
    /* color: rgb(192, 234, 255); */
    /* box-shadow: 0px 0px 20px rgb(192, 234, 255); */
    color: var(--base-color);

}

/* .options {
    margin: 50px auto;
} */

/* button {
    display: block;
    width: 20vw;
    margin: 30px auto;
    padding: 10px;
    background: #2a2a2a;
    border: 1px solid white;
    border-radius: 25px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    text-shadow: 0px 0px 20px #fff; 
    }*/


/* style for choice.html */
.content {
    /* display: grid; */
    align-items: center;
    /* border: 1px solid white;
    margin: 50px;
    border-radius: 25px; */
    /* margin: 50px 80px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* gap: 50px; */
    /* font-size: 2em; */
}


/* .class-question {
    font-size: 24px;
} */

/* .class-details {
    margin: 12px;
} */
/* 
.block {
    display: flex;
    justify-content: center;
} */

/* styles the block which are displayed through js(fields,choice/js file) */
.fields {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.field {
    height: 380px;
    width: 340px;
    /* height: 45vh;
    width: 23vw; */
    /* border: 2px solid white; */
    border-radius: 30px 30px;
    background-color: var(--base-color);
    box-shadow: 0 0 10px var(--secondary-text);
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.collegelist{
    height: 510px;
    width: 340px;
    /* height: 45vh;
    width: 23vw; */
    /* border: 2px solid white; */
    border-radius: 30px 30px;
    background-color: var(--base-color);
    box-shadow: 0 0 10px var(--secondary-text);
    /*cursor: pointer;*/
    display: flex;
    justify-content: center;
}

/* .field:hover {
    height: 340px;
    width: 300px;
    transition-duration: 3s;
    transition-property: all;
    transition-timing-function: ease-in-out;
} */

/* .field-name {
    padding-left: 70px;
    padding-top: 50px;
} */

/* image style */
.img-size {
    height: 250px;
    width: 340px;
    /* height: 30vh;
    width: 23vw; */
    object-fit: cover;
    border-radius: 30px 30px 0 0;
    display: flex;
    justify-content: center;
}

/* used to style filed title */
.box-inner-p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px;
}

.course-title {
    font-size: 18px;
    font-weight: 700;
    color: var(--secondary-text);
    display: flex;
    justify-content: center;
    padding: 72px;
}

.course-info {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 35px; */
}

.course-grid {
    display: grid;
    grid-template-rows: 100px 200px 100px;
    justify-content: center;
    align-items: center;
}

.course-list {
    height: 400px;
    width: 340px;
    /* height: 45vh;
    width: 23vw; */
    /* border: 2px solid white; */
    border-radius: 30px 30px;
    background-color: var(--base-color);
    box-shadow: 0 0 10px var(--secondary-text);
    cursor: pointer;
    display: flex;
    justify-content: center;
}
/* back button style */
.nav-button {
    height: 45px;
    width: 45px;
    /* background-color: #1e1e1e; */
    background-color: var(--base-variant);
    border: none;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.myarrow:hover {
    stroke: var(--secondary-text);
}

/* dark/light mode style */
#theme-switch svg {
    fill: var(--secondary-text);
}

#theme-switch svg:last-child {
    display: none;
}

.darkmode #theme-switch svg:first-child {
    display: none;
}

.darkmode #theme-switch svg:last-child {
    display: block;
}



footer {
    background-color: var(--base-color);
    color: var(--text-color);
    padding: 10px 0;
    text-align: center;
    /* position: absolute; */
    left: 0;
    bottom: 0;
    /* width: 100%; */
    /* margin-top: 55px; */
}

.add-space {
    margin: 25px;
    padding: 25px;
    border-bottom: 2px solid var(--secondary-text);
}

.bottom-button {
    height: 60px;
    width: 180px;
    display: inline-block;
    /* margin: 35px;
    padding: 35px; */
    border: 0px solid var(--secondary-text);
    border-radius: 38px;
    box-shadow: 0px 0px 0px 1px var(--secondary-text);
    justify-content: center;
    text-align: center;
    cursor: pointer;
    background: var(--base-variant);
    color: var(--text-color);
    /* font-size: 1.5em; */
}








/* .typing-text {
    margin-left: 120px;
    display: block;
    align-items: center;
    width: 50ch;
    animation: typing 5s steps(50), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}

@keyframes typing {
    from {
        width: 0;   
    }
}

@keyframes blink {
    80% {
        border-color: transparent
    }
} */